window.network = 'testnet'; // testnet|mainnet
window.CONTRACT_ADDRESS = 'ST1Y81WMHPCZ5Y92E6BAJDP0CR8PJXB53E2J71436'; // contract address
window.CONTRACT_NAME = 'punks-army-last'; // contract name
window.COLLECTION_URL = 'https://punksarmynft.club/'; // main collection url
window.MAX_PUNK = 2; // max punk number per block
window.DISCORD_URL = '#'; // url to discord
window.TWITTER_URL = '#'; // url to twitter